body {
    font-size: 2.5rem;
    color: white;
    background-color: white;
}

.wrap,
main {
    width: 1000px;
    margin: 0 auto;
}

header,
footer {
    color: white;
    width: 100%;
    padding: 20px 0;
    border-bottom: dashed 2px black;
    background-color: teal;
    position: relative;
}
footer {
    border-top: dashed 2px black;
}
.btn_box {
    position: absolute;
}
.retry_btn,
.pause_btn {
    font-size: 1.5rem;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
    background-color: blue;
    vertical-align: middle;
    cursor: pointer;
}
.game_title {
    font-size: 3rem;
    text-align: center;
}

.status_box {
    padding-bottom: 10px;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 1px black;
    background-color: cadetblue;
}
.type_count_box {
    text-align: right;
    padding-right: 10px;
}
.correct_type_count,
.wrong_type_count {
    display: inline-block;
    font-size: 1.2rem;
}
.correct_type_count span,
.wrong_type_count span {
    font-size: 1.5rem;
}

.timer {
    text-align: center;
}

.ploblem_word_box {
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    background-color: teal;
}
.en_word {
    font-size: 2rem;
    padding: 10px;
}

.key_board_box {
    padding: 20px;
    margin: 50px auto;
    border: solid 1px white;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
}
.key_board {
    text-align: center;
}
.key_board p {
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
    margin: 10px;
    border: solid 1px white;
    border-radius: 5px;
    vertical-align: middle;
    background-color: rgb(77, 77, 216);
}
.space_key {
    width: 200px;
}
footer {
    text-align: center;
    font-size: 1.2rem;
}